<div class="container mb-5">
  <div class="row">
    <div class="col-7 mx-auto col-md-5 textCol">
        <h1>About Our Company</h1>
        <p class="text-gray">Sample text. Click to select the text box. Click again or double click to start editing the text. Image from Freepic </p>
        <p class="text-secondary">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. </p>
        <p>►Support via E-mail and Phone</p>
        <p>►Multi-Language Support</p>
        <p>placehoder for phone number</p>

    </div>
    <div class="col-7 col-md-7 imgCol mx-auto  mx-md-0"> 
    </div>
  </div>
</div>
<div class="container text-center mb-5">
  <h1>Our design and development approach</h1>
  <div class="row gy-4">
    <div class="col col-12 col-md-6 ">
      <div class="text-wrapper border text-center">
        <h2>PROJECT ANALYSIS AND RESEARCH</h2>
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
      </div>
    </div>
    <div class="col col-12 col-md-6 ">
      <div class="text-wrapper border text-center">
        <h2>THE BEST COST TO QUALITY RATIO</h2>
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
      </div>
    </div>
    <div class="col col-12 col-md-6 ">
      <div class="text-wrapper border text-center">
        <h2>ALIGNMENT WITH BUSINESS GOALS</h2>
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
      </div>
    </div>
    <div class="col col-12 col-md-6 ">
      <div class="text-wrapper border text-center">
        <h2>QUALITY SOFTWARE INTEGRATION</h2>
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
      </div>
    </div>
  </div>
</div>
