<div class="hero mb-5">
    <div class="col col-10 col-lg-6 col-xl-4 border mx-auto text-center">
      <div class="textDiv">
        <h1>Get our free newsletter</h1>
        <h1 class="mb-4">+ bonus content</h1>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
        <div class="inputDiv mb-4">
          <input type="text" placeholder="Enter valid email address">
          <button class="btn btn-primary">submit</button>
        </div>
        <p>You are subscribing to email updates. Your data is safe and you can unsubscribe at anytime with a single click.</p>
      </div>
    </div>
</div>
