<div class="hero bg-danger mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 text-center">
        <h1>Alignment with your</h1>
        <h1 class="mb-5">business goals</h1>
        <p class="mb-5">Vitae turpis massa sed elementum tempus egestas sed sed. Blandit massa enim nec dui nunc mattis enim.</p>
        <a class="mb-5" href="#">Free images!</a>
        <div class="buttons mt-5">
            <button type="button" class="btn btn-outline-primary btn-lg">About us</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Our services</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Our contacts</button>
        </div>
      </div>
    </div>
  </div>
</div>
