<!-- <div class="hero border mb-5">
  <div class="container borde">
    <div class="row">
        <div class="col-12 col-md-7">
            <h1>Flexible & reliable software</h1>
        </div>
        <div class="col-12 col-md-7 mb-5 mb-sm-0">
            <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read.</p>
        </div>
        <div class="col-12 col-md-5 text-center">
            <button class="btn btn-primary btn-lg">READ MORE</button>
        </div>
    </div>
  </div>
</div> -->

<div class="hero border mb-5">
  <div class="text-wrapper border">
    <div class="text">
        <h1>Flexible & reliable software</h1>
        <p>
            Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read</p>
    </div>
    <div class="text-center align-self-center buttonDiv">
        <button class="btn btn-primary">Read more</button>
    </div>
  </div>
</div>
