<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-center mb-5">
        <h1>We believe in collaboration and innovation</h1>
        <h5>THESE CORE VALUES DEFINE WHO WE ARE AND THE WORK WE DO</h5>
    </div>
    <div class="col-10 col-md-12 mx-auto border mb-4"></div>
    <div class="col-10 col-md-6 text-center text-md-start">
      <h3>HONESTY, INTEGRITY, AND ACCOUNTABILITY</h3>
    </div>
    <div class="col-10 text-center text-md-start col-md-6 mx-auto">
        <p>
            Being in the people business can mean difficult decisions and tough conversations. We believe in going into every meeting with a desire and ability to be genuine and compassionate. We are all people, and people make mistakes. We’re here to help you fix those, without risk or judgment, and move forward</p>
    </div>
    <div class="col-10 col-md-12 mx-auto border mb-4 mt-5"></div>
    <div class="col-10 col-md-6 text-center text-md-start">
      <h3>PASSION FOR OUR CLIENTS</h3>
    </div>
    <div class="col-10 text-center text-md-start col-md-6 mx-auto">
        <p>
            Being in the people business can mean difficult decisions and tough conversations. We believe in going into every meeting with a desire and ability to be genuine and compassionate. We are all people, and people make mistakes. We’re here to help you fix those, without risk or judgment, and move forward</p>
    </div>
    <div class="col-10 col-md-12 mx-auto border mb-4 mt-5"></div>
    <div class="col-10 col-md-6 text-center text-md-start">
      <h3>DRIVE FOR RESULTS</h3>
    </div>
    <div class="col-10 text-center text-md-start col-md-6 mx-auto">
        <p>
            Being in the people business can mean difficult decisions and tough conversations. We believe in going into every meeting with a desire and ability to be genuine and compassionate. We are all people, and people make mistakes. We’re here to help you fix those, without risk or judgment, and move forward</p>
    </div>
    <div class="col-10 col-md-12 mx-auto border mb-4 mt-5"></div>
    <div class="col-10 col-md-6 text-center text-md-start">
      <h3>WE'RE GENUINE AND COMPASSIONATE</h3>
    </div>
    <div class="col-10 text-center text-md-start col-md-6 mx-auto ">
        <p>
            Being in the people business can mean difficult decisions and tough conversations. We believe in going into every meeting with a desire and ability to be genuine and compassionate. We are all people, and people make mistakes. We’re here to help you fix those, without risk or judgment, and move forward</p>
    </div>
  </div>
</div>
