<div class="hero mb-5">
  <div class="container">
    <div class="row gy-5">
      <div class="col-10 mx-auto mx-md-0 col-md-4">
        <div class="card">
            <h3>MEMBERSHIP</h3>
            <h2>$ 35/monthly</h2>
            <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. </p>
            <button class="btn btn-primary">Read more</button>
        </div>
      </div>
      <div class="col-10 mx-auto mx-md-0 col-md-4">
        <div class="card">
            <h3>MEMBERSHIP</h3>
            <h2>$ 35/monthly</h2>
            <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. </p>
            <button class="btn btn-primary">Read more</button>
        </div>
      </div>
      <div class="col-10 mx-auto mx-md-0 col-md-4">
        <div class="card">
            <h3>MEMBERSHIP</h3>
            <h2>$ 35/monthly</h2>
            <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. </p>
            <button class="btn btn-primary">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>
